In [1]:
import numpy as np
import matplotlib.pyplot as plt

In [20]:
def es_primo(a, b):
    lista_primos = []
    lista_no_primos = []
    for j in range(a, b+1):
        aux = 0    
        for i in range(1,j+1):
            if j%i == 0:
                aux+=1
            else:
                pass
        if aux<=2:
            lista_primos.append(j)
        else:
            lista_no_primos.append(j)

    return lista_primos, lista_no_primos


k, t = es_primo(5,220)

In [29]:
a = [2,3,4]
for i in range(len(a)):
    a[i] = str(a[i])
type(a[0])

str

In [35]:
def primos_con_digito(lista, d):
    new_list = []
    for i in range(len(lista)):
        lista[i] = str(lista[i])

    for i in range(len(lista)):
        if str(d) in lista[i]:
            pass
        else:
            new_list.append(lista[i])

    for i in range(len(new_list)):
        new_list[i] = int(new_list[i])

    return new_list

primos_con_digito(k, 3)

[5,
 7,
 11,
 17,
 19,
 29,
 41,
 47,
 59,
 61,
 67,
 71,
 79,
 89,
 97,
 101,
 107,
 109,
 127,
 149,
 151,
 157,
 167,
 179,
 181,
 191,
 197,
 199,
 211]

In [71]:
class Estudiante:
    def __init__(self, nombre, notas):
        self.nombre = nombre
        self.notas = notas
        self.aprobado = "No se sabe"

    def calcular_promedio(self):
        self.promedio = 0
        for nota in (self.notas):
            self.promedio+=nota
        self.promedio = self.promedio/len(self.notas)

    def esta_aprobado(self):
        if self.promedio >=6:
            self.aprobado = "Aprobado"
            return True
        else:
            self.aprobado = "Reprobado"
            return False

    def mostrar_info(self):
        print(f"El estudiante {self.nombre} tiene un promedio de {self.promedio} y está {self.aprobado} ")

Est1 = Estudiante("Juan", [10,8.7,7.4])
Est2 = Estudiante("Martín", [2,5.7,3.4])
Est3 = Estudiante("Mariana", [10,8.7,9.4])

In [72]:
Est1.calcular_promedio()
Est2.calcular_promedio()
Est3.calcular_promedio()

In [73]:
Est1.esta_aprobado()
Est2.esta_aprobado()
Est3.esta_aprobado()

True

In [74]:
Est1.mostrar_info()
Est2.mostrar_info()
Est3.mostrar_info()

El estudiante Juan tiene un promedio de 8.700000000000001 y está Aprobado
El estudiante Martín tiene un promedio de 3.6999999999999997 y está Reprobado
El estudiante Mariana tiene un promedio de 9.366666666666667 y está Aprobado

In [84]:
Iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [85]:
import pandas as pd

Iris = pd.read_csv("iris.csv")
Iris.head()
species = Iris.iloc[:,4]
sepal_lenght = Iris.iloc[:,0]
sepal_width = Iris.iloc[:,1]

In [88]:
sepal_lenght.mean()
sepal_width.mean()

3.0540000000000003

In [78]:
a = ["perro", "gato", "perro", "ave", "ave", "ave", "gato"]
set(a)
plt.hist() -> histograma
plt.boxplot() 
plt.

{'ave', 'gato', 'perro'}